<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gachon.app">

    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="true" />

    <!-- To access Google+ APIs: -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/codingstarter_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme.NoActionBar">

        <!-- SplashAcvitiy 는 시작화면 -->
        <activity
            android:name=".main.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".main.MainActivity"
            android:label="메인라벨"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".course1_1.course1_1_1.Course1_1_1Activity"
            android:windowSoftInputMode="adjustNothing" />
        <activity android:name=".course1_1.Course1_1Activity" />
        <activity
            android:name=".course1_1.course1_1_2.Course1_1_2Activity"
            android:windowSoftInputMode="adjustNothing" />
        <activity android:name=".course1_2.Course1_2Activity" />
        <activity
            android:name=".course1_2.course1_2_1.Course1_2_1Activity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".course2_1.Course2_1Activity" />
        <activity
            android:name=".course2_1.course2_1_1.Course2_1_1Activity"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name=".course2_1.course2_1_2.Course2_1_2Activity"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name=".course2_1.course2_1_3.Course2_1_3Activity"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name=".main.LoginActivity"
            android:label="@string/title_activity_login"/>
    </application>

</manifest>